
.product_info {
  display: flex;
}

.product_image {
  border: 1px solid black;
  height: 90px;
  margin: 0.5rem 1rem 2rem 2rem;
  padding: 3rem;
  width: 90px;
}

.attribute {
  margin-left: 2rem;
}

.back_container {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

button {
  cursor: pointer;
}

.product_attributes {
  border: 1px solid black;
  margin: 0.5rem 2rem 2rem 1rem;
  padding: 1rem;
  width: 50rem;
}

.return-button {
  background-color: white;
  background-image: url('../imgs/return.svg');
  border: none;
  height: 50px;
  margin: 0;
  width: 50px;
}

.title {
  margin-left: 2rem;
}
