.logo{
  width: 140px;
  height: 55px;
  margin: 60px;
}

.social-logo{
  justify-content: center;
  align-items: center;
  margin: 8px 5px; 
  padding: 5px; 
}

.input-car  {
  width: 300px!important;  
}

.card-card-image {
  width: 500px;
  height: 280px;
}

.car-details {
  display: flex;
  justify-content: space-evenly;
}

.car-list {
  justify-content: space-evenly;
}
.card .card-image img { 
  border-radius: 20%;
  padding: 10px;
}

.car-card-query {
  margin: 10px;
  width: 200px;
}

.card-title-query {
  font-size: 14px;
}