.return-button {
  background-color: #f8f7f5;
  background-image: url('../images/return.svg');
  border: none;
  height: 50px;
  margin: 0;
  width: 50px;
}

.query-details {
  width: 100%;
}

.query-card-details{
  border-radius: 5%;
  width: 20%;
  padding: 10px;  
}

.queryDetailsWrap{
  padding: 20px;
}
